<footer class="bg-dark">
    <div class="footer-content">
        <ul class="socials">
            <li><a href="https://www.linkedin.com/in/pratyush-gupta01/"><i class="fa fa-linkedin-square"></i></a></li>
            <li><a href="https://www.facebook.com/suryanshu.srivastava.1"><i class="fa fa-facebook"></i></a></li>
            <li><a href="https://twitter.com/suryansh27600?lang=en"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
        </ul>
    </div>
    <div class="footer-bottom text-white">
        <h5 style="color: white;">Air-Eagle © <%= new Date().getFullYear() %><h5>
    </div>
</footer>